<header class="site-header bg-blue-600 text-white p-4 shadow">
    <div class="header-container">
        <nav class="mt-2">
            <ul class="nav-list flex flex-row items-center gap-6">
                <li><a class="hover:underline nav-link" href="#home">Home</a></li>
                <li class="ml-auto"><a class="hover:underline nav-link" href="#signin">Sign In</a></li>
                <li><a class="hover:underline nav-link" href="#signup">Sign Up</a></li>
                <li><a class="hover:underline nav-link" href="#about">About</a></li>
            </ul>
        </nav>
    </div>
</header>